<span style="color:navy;font-family:Calibri;font-size:24px">ADD RECORD</span>

<div class="container">
    <form novalidate #myForm="ngForm" (ngSubmit)="upload()">
      <div class="form-group">
        <input type="text" class="form-control" id="name" placeholder="Name" required
               [(ngModel)]="record.name" name="name" #mName="ngModel">
      </div>
      <div [hidden]="mName.valid"
         class="alert alert-danger">
         Name is required
      </div>
      <div class="form-group">
        <select class="form-control" id="type" placeholder="Type" 
               [(ngModel)]="record.type" name="type">
               <option *ngFor="let t of types" [value]="t">
                 {{t}}
               </option>
        </select>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="duration" placeholder="Duration"
               [(ngModel)]="record.duration" name="duration">
      </div>
      <button type="submit" [disabled]="!myForm.valid">Submit</button>
    </form>
</div>
