<span style="color:navy;font-family:Calibri;font-size:24px">LIST OF RECORDS</span>

    <div *ngFor="let record of record">
        <td>{{record.name}}, 
            {{record.type}}, 
            duration {{record.duration | duration }}, 
            created on {{record.created | date:"HH:mm dd/MM/yy"}}</td>  
    </div>

