<div>
    <span style="font-family:Calibri;font-size:16px">
        <a [routerLink]="['/records/add']">ADD</a>
    </span>
    <span style="font-family:Calibri;font-size:16px"> 
        <a [routerLink]="['/records/list']" >LIST</a>
    </span>
</div>
<br>
<router-outlet></router-outlet>